.portfolioContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 15px;
	border-radius: 3px;
	background-color: #f1e6e6;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
		'Trebuchet MS', sans-serif;
	.portfolioHeading {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 0 0.25em 0.25em;
		font-size: 20px;
	}
	.portfolioDescription {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		text-align: start;
		margin: 0 1em 0.25em;
		.portfolioDescriptionTitle {
			text-decoration: underline;
		}
		.portfolioDescriptionText {
			margin: 1em 0;
		}
		.portfolioLink {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
			text-align: start;
			margin: 0 0.25em 0.25em;
			width: 100%;
			.btnPortfolio {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin: 5px;
				border-radius: 25px;
				padding: 8px;
				background: transparent;
				border-color: rgba(47, 0, 255, 1);
				text-align: center;
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none; /* Safari */
				-khtml-user-select: none; /* Konqueror HTML */
				-moz-user-select: none; /* Old versions of Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none;
				&:hover {
					background: rgba(47, 0, 255, 0.75);
					border-color: rgba(0, 0, 0, 0.5);
				}
				a {
					text-decoration: none;
					color: #000000;
					font-size: 12px;
					font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
						'Trebuchet MS', sans-serif;
				}
			}
		}
	}
}

.optionsAdvice {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0.5em 0;
	border-radius: 3px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
		'Trebuchet MS', sans-serif;
	div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		background-color: #f1e6e6;
		padding: 15px;
		margin: 0.25em 0;
		width: 100%;
		span {
			text-decoration: underline;
			margin: 0px 5px;
		}
	}
}
