/**
*
* Testing
*
**/
.githubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 5px;
  background-color: #f1e6e6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1);
}
.githubContainer .heading {
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
  margin: 0 0.25em 0.5em;
  font-size: 24px;
  font-weight: bold;
}
.githubContainer .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: start;
  margin: 0 1em 0.5em;
}
.githubContainer .description .descriptionTitle {
  text-decoration: underline;
  font-size: 18px;
  font-weight: bold;
}
.githubContainer .description .descriptionText {
  margin: 1em 0;
  line-height: 1.5;
}
.githubContainer .description .descriptionText span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: underline;
  margin: 1em 0;
}
.githubContainer .description .linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: start;
  margin: 0 0.25em 0.5em;
  width: 100%;
}
.githubContainer .description .linkContainer .btnPortfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px;
  border-radius: 25px;
  padding: 10px 15px;
  background: transparent;
  border: 2px solid rgb(47, 0, 255);
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
              supported by Chrome, Edge, Opera and Firefox */
  transition: background-color 0.3s, border-color 0.3s;
}
.githubContainer .description .linkContainer .btnPortfolio:hover {
  background: rgba(47, 0, 255, 0.75);
  border-color: rgba(0, 0, 0, 0.5);
}
.githubContainer .description .linkContainer .btnPortfolio:focus {
  outline: none;
}
.githubContainer .description .linkContainer .btnPortfolio a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media (max-width: 360px) {
  .githubContainer .heading {
    font-size: 18px;
  }
  .githubContainer .descriptionTitle {
    font-size: 14px;
  }
  .githubContainer .descriptionText {
    font-size: 12px;
  }
  .githubContainer .btnPortfolio {
    font-size: 12px;
  }
}
@media (min-width: 361px) and (max-width: 425px) {
  .githubContainer .heading {
    font-size: 18px;
  }
  .githubContainer .descriptionTitle {
    font-size: 14px;
  }
  .githubContainer .descriptionText {
    font-size: 12px;
  }
  .githubContainer .btnPortfolio {
    font-size: 12px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .githubContainer .heading {
    font-size: 20px;
  }
  .githubContainer .descriptionTitle {
    font-size: 16px;
  }
  .githubContainer .descriptionText {
    font-size: 14px;
  }
  .githubContainer .btnPortfolio {
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 1365px) {
  .githubContainer .heading {
    font-size: 22px;
  }
  .githubContainer .descriptionTitle {
    font-size: 18px;
  }
  .githubContainer .descriptionText {
    font-size: 16px;
  }
  .githubContainer .btnPortfolio {
    font-size: 16px;
  }
}
@media (min-width: 1366px) {
  .githubContainer .heading {
    font-size: 24px;
  }
  .githubContainer .descriptionTitle {
    font-size: 18px;
  }
  .githubContainer .descriptionText {
    font-size: 16px;
  }
  .githubContainer .btnPortfolio {
    font-size: 16px;
  }
}
@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .githubContainer .heading {
    font-size: 24px;
  }
  .githubContainer .descriptionTitle {
    font-size: 18px;
  }
  .githubContainer .descriptionText {
    font-size: 16px;
  }
  .githubContainer .btnPortfolio {
    font-size: 16px;
  }
}

.optionsAdvice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.5em 0;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f1e6e6;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1);
}
.optionsAdvice div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 15px;
  margin: 0.25em 0;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 255, 0.1);
}
.optionsAdvice div span {
  text-decoration: underline;
  margin: 0px 5px;
}
@media (max-width: 360px) {
  .optionsAdvice div {
    padding: 10px;
  }
}
@media (min-width: 361px) and (max-width: 425px) {
  .optionsAdvice div {
    padding: 10px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .optionsAdvice div {
    padding: 12px;
  }
}
@media (min-width: 769px) and (max-width: 1365px) {
  .optionsAdvice div {
    padding: 15px;
  }
}
@media (min-width: 1366px) {
  .optionsAdvice div {
    padding: 15px;
  }
}
@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1920px) and (min-resolution: 192dpi) {
  .optionsAdvice div {
    padding: 15px;
  }
}/*# sourceMappingURL=DavidSGithub.css.map */